<form class="bg-light p-2 m-5 shadow" id="form-mensajes" onsubmit="return addMessage(this)">
    <div>
        <label for="email">Email</label>
        <input class="input form-control" type="text" id="email" name="email" required>
    </div>

    <hr>
    <small class="form-text text-muted">Mensajes:</small>
    <ul id="lista-mensajes">
        <% message.forEach(function(item) { %>
            <div>
                <p><strong class="text-success"><%= item.email %> </strong>
                    <span class="text-primary">[ <%= item.timestamp %> ] : </span>
                    <em class="text-dark"><%= item.mensaje %></em></p>
                    <!-- <%= item.email + item.timestamp + item.mensaje %></li> -->
                </div>
            <% }); %>
    </ul>
    <hr>

    <div>
        <label for="mensaje">Mensaje</label>
        <input class="input form-control" type="text" id="mensaje" name="mensaje" required>
        <input class="btn btn-success mt-2" type="submit" value="Enviar mensaje">
    </div>
</form>